<?xml version="1.0" encoding="utf-8"?>
<Media Key="814ed849-d05a-4fd3-8fac-b346cdd0dd98" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="190f251b-5ccf-4652-b094-66f9fdef7d3e">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:26:35</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xnspyy0b/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>