<?xml version="1.0" encoding="utf-8"?>
<Media Key="895f97d0-0bfe-4da4-9ab0-aa56a84a1588" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="190f251b-5ccf-4652-b094-66f9fdef7d3e">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:26:35</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eivp005f/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>