<?xml version="1.0" encoding="utf-8"?>
<Media Key="2256285d-c98b-4109-9895-66657a49f3a9" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="190f251b-5ccf-4652-b094-66f9fdef7d3e">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:26:35</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v4kpjqeq/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>