<?xml version="1.0" encoding="utf-8"?>
<Media Key="375cb435-7a78-417a-af03-3fb729e6eb51" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="190f251b-5ccf-4652-b094-66f9fdef7d3e">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:26:34</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y2ep3vld/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>