<?xml version="1.0" encoding="utf-8"?>
<Media Key="c48b5fcc-1129-4b2f-8142-4761a25bc7fc" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="190f251b-5ccf-4652-b094-66f9fdef7d3e">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:26:35</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h1rcsjrs/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>