<?xml version="1.0" encoding="utf-8"?>
<Media Key="746a678b-14e2-4ac9-a658-87ed3983211b" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="190f251b-5ccf-4652-b094-66f9fdef7d3e">Partners</Parent>
    <Path>/Partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T15:26:35</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/phnmrfxz/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>