<?xml version="1.0" encoding="utf-8"?>
<Media Key="376957e0-6d82-48ca-904c-eeab3c489cf8" Alias="Brand (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brand1Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:06:31</CreateDate>
    <NodeName Default="Brand (1).svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/clvmxvmz/brand-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>