<?xml version="1.0" encoding="utf-8"?>
<Media Key="93c1009d-7738-4571-a541-bb7d23f5b6e2" Alias="happyguy.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/happyguysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:07:25</CreateDate>
    <NodeName Default="happyguy.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n44hg2jd/happyguy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>