<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f5fa0a7-0449-468d-8423-32577d377c56" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:02:56</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kuop1pks/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>