<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f290510-27c4-4e56-8d22-a8937236cf05" Alias="image-24-min 1.svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:02:56</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2k2ix1o5/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>