<?xml version="1.0" encoding="utf-8"?>
<Media Key="890be44e-a33f-4205-a230-600af03a4253" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="35da72a1-680e-4fb2-900e-1a491cbd8af6">Team Members (1)</Parent>
    <Path>/TeamMembers1/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:06:23</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xrmls0ze/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>