<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1c992f1-6ebf-4f24-b397-4073f6d27464" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:02:56</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/amxhwe3e/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>