<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8bf7e6c-cbd7-4e0c-bc50-d3d9a1275151" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:02:56</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t1bb0kwm/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>