<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a25cfc9-fa02-4e00-bd7e-c9ac73204871" Alias="image-104 1.svg" Level="2">
  <Info>
    <Parent Key="35da72a1-680e-4fb2-900e-1a491cbd8af6">Team Members (1)</Parent>
    <Path>/TeamMembers1/image1041svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:07:10</CreateDate>
    <NodeName Default="image-104 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hnzipkaz/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>