<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1a4b9a1-7c41-42fe-9970-4d791b7c7cc9" Alias="image-18-min 1.svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:05:05</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kmcamu00/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>