<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d124c48-1970-4a07-bb7f-7a37a02b1bc6" Alias="image-21-min 1 (1).svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min11Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:02:56</CreateDate>
    <NodeName Default="image-21-min 1 (1).svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xlyla11l/image-21-min-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>