<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b479a4c-2e59-46ef-93f6-38b07e5e2d93" Alias="Img-4-2 1.svg" Level="2">
  <Info>
    <Parent Key="35da72a1-680e-4fb2-900e-1a491cbd8af6">Team Members (1)</Parent>
    <Path>/TeamMembers1/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:07:10</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xytplwkc/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>