<?xml version="1.0" encoding="utf-8"?>
<Media Key="95e14e19-0c45-49d1-a51f-c445e60f17f0" Alias="Img-1 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T13:50:58</CreateDate>
    <NodeName Default="Img-1 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3pzfg304/img-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>