<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd0e02ba-3d75-482f-9ce3-0981a3c5ad94" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:59:38</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jc5lyx1o/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>