<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a7ff614-abab-469e-8574-9cf9f3430c83" Alias="map-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T09:31:39</CreateDate>
    <NodeName Default="map-1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2zfn1gfq/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>