<?xml version="1.0" encoding="utf-8"?>
<Media Key="190f251b-5ccf-4652-b094-66f9fdef7d3e" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T15:26:23</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>