<?xml version="1.0" encoding="utf-8"?>
<Media Key="11357a8e-2865-484e-8b26-c86f498a38a9" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:29:41</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ptdjp214/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>