<?xml version="1.0" encoding="utf-8"?>
<Media Key="7df98307-a233-44bd-a316-1a7df2b2ab45" Alias="rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T15:09:21</CreateDate>
    <NodeName Default="rating.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4u5fxhzi/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>