<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c0d874a-8235-4793-b0f7-7bfab68fbb04" Alias="Risk-Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:22:57</CreateDate>
    <NodeName Default="Risk-Management" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xa3k5dro/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>