<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d09999c-a431-461a-8376-7933e53ca195" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-31T15:01:18</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>