<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1c96c6f-f884-40f0-9b72-0d9f124a1d6a" Alias="success.svg" Level="2">
  <Info>
    <Parent Key="2d09999c-a431-461a-8376-7933e53ca195">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T14:56:44</CreateDate>
    <NodeName Default="success.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txihwa25/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>