<?xml version="1.0" encoding="utf-8"?>
<Media Key="35da72a1-680e-4fb2-900e-1a491cbd8af6" Alias="Team Members (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T12:06:03</CreateDate>
    <NodeName Default="Team Members (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>