<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2deaa83-112e-4687-b594-501c0501e0b0" Alias="2025-11-05 13:55 - Dennis" Level="2">
  <Info>
    <Parent Key="52b0a57e-cdff-48ee-b447-89e4c81b2c53">Form Submissions</Parent>
    <Path>/FormSubmissions/Dennis</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T13:55:01</CreateDate>
    <NodeName Default="2025-11-05 13:55 - Dennis" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Dennis@domain.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Dennis]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[01455742]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>