<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cf82f06-0e43-41a9-b5f1-a75453402414" Alias="2025-11-13 11:45 - John" Level="2">
  <Info>
    <Parent Key="52b0a57e-cdff-48ee-b447-89e4c81b2c53">Form Submissions</Parent>
    <Path>/FormSubmissions/John</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T11:45:12</CreateDate>
    <NodeName Default="2025-11-13 11:45 - John" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[John@test.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[04752417]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>