<?xml version="1.0" encoding="utf-8"?>
<Content Key="d01837ef-910a-4ffe-86ec-3e0f99204f7e" Alias="2025-11-13 15:34 - Dennis Hed Rudin" Level="2">
  <Info>
    <Parent Key="52b0a57e-cdff-48ee-b447-89e4c81b2c53">Form Submissions</Parent>
    <Path>/FormSubmissions/DennisHedRudin</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T15:34:29</CreateDate>
    <NodeName Default="2025-11-13 15:34 - Dennis Hed Rudin" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Dennis.hedrudin@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Dennis Hed Rudin]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0700434152]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>