<?xml version="1.0" encoding="utf-8"?>
<Content Key="448cb9a7-d758-4909-80d2-0fc11c72cd11" Alias="2025-11-14 14:22 - Dennis Hed Rudin" Level="2">
  <Info>
    <Parent Key="52b0a57e-cdff-48ee-b447-89e4c81b2c53">Form Submissions</Parent>
    <Path>/FormSubmissions/DennisHedRudin</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-14T14:22:00</CreateDate>
    <NodeName Default="2025-11-14 14:22 - Dennis Hed Rudin" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[Dennishr1994@hotmail.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Dennis Hed Rudin]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Ursäkta?]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>