<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a6dc780-53aa-4d93-ab5b-fd336ee2c2ec" Alias="Contact" Level="2">
  <Info>
    <Parent Key="36fa8bbc-f5b6-4f10-9791-3c18c249b711">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-27T10:26:33</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="28192208-8bab-47ce-81be-3acc138ec676">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cb8da319-c65d-4f92-9998-a25d8797aa4c",
      "key": "0f6cd229-e2d6-4de6-833d-0abc86a23486",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-main\u0022\u003ELet us know about \u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-main\u0022\u003Eyour next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "35c1fd68-8400-46fa-b6c1-ee770b4b4e94",
              "mediaKey": "93c1009d-7738-4571-a541-bb7d23f5b6e2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c80be307-6752-4bd0-8a99-d82a6a567a69",
      "key": "f20ec6ab-ea0f-4076-887f-2a73d7625e59",
      "udi": null,
      "values": [
        {
          "alias": "partnerList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e",
                "key": "a68bd6a2-84dd-4c70-9b81-5d0ca2cb61fd",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a343bde3-5e6b-440e-9b28-c697234b86d8",
                        "mediaKey": "814ed849-d05a-4fd3-8fac-b346cdd0dd98",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedom"
                  }
                ]
              },
              {
                "contentTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e",
                "key": "239133ec-f1f3-4f17-ae89-2f0b9989c425",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ec647ee7-ee78-4425-b810-a7fb400c636e",
                        "mediaKey": "895f97d0-0bfe-4da4-9ab0-aa56a84a1588",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e",
                "key": "ea6f23e2-b092-4aa7-af8e-78fdca904018",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9248dca9-36ea-4a95-8af3-5a7331430b33",
                        "mediaKey": "2256285d-c98b-4109-9895-66657a49f3a9",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e",
                "key": "9cce03fd-3849-412f-8e74-a624f5cc6c25",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d125eb13-8737-43ab-b9dc-d80e22595f2d",
                        "mediaKey": "375cb435-7a78-417a-af03-3fb729e6eb51",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e",
                "key": "c26993ec-05c7-47c8-b025-359522b33ba7",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "87d88574-7c89-4076-9977-72bd3996b794",
                        "mediaKey": "c48b5fcc-1129-4b2f-8142-4761a25bc7fc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e",
                "key": "a8e19284-152c-421c-9b5b-ada51dd4fd44",
                "udi": null,
                "values": [
                  {
                    "alias": "partnerName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fossil Group"
                  },
                  {
                    "alias": "partnerLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9ecdb598-ae5d-4bba-a129-725ef59490a2",
                        "mediaKey": "746a678b-14e2-4ac9-a658-87ed3983211b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a68bd6a2-84dd-4c70-9b81-5d0ca2cb61fd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "239133ec-f1f3-4f17-ae89-2f0b9989c425",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ea6f23e2-b092-4aa7-af8e-78fdca904018",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9cce03fd-3849-412f-8e74-a624f5cc6c25",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c26993ec-05c7-47c8-b025-359522b33ba7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a8e19284-152c-421c-9b5b-ada51dd4fd44",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a68bd6a2-84dd-4c70-9b81-5d0ca2cb61fd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "239133ec-f1f3-4f17-ae89-2f0b9989c425",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea6f23e2-b092-4aa7-af8e-78fdca904018",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9cce03fd-3849-412f-8e74-a624f5cc6c25",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c26993ec-05c7-47c8-b025-359522b33ba7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a8e19284-152c-421c-9b5b-ada51dd4fd44",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e2dc1b1c-51df-4d02-84ba-d5a65be48b41",
      "key": "730a0973-c358-44c1-992c-044c503b16e8",
      "udi": null,
      "values": [
        {
          "alias": "mapLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "mapTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "mapBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mapBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "505497a3-e969-4999-8fbc-c9bb615de3b5",
              "mediaKey": "7a7ff614-abab-469e-8574-9cf9f3430c83",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "927d13e8-b528-4d55-8ff1-d1fb1a4cf3e6",
      "key": "511fdff0-0bc6-4b74-9bd4-373111a641ab",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4623c79d-1480-46f4-8ff0-978baee50bfa",
      "key": "c6d58a26-d8ea-4e0f-aeda-befb672168c8",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0f6cd229-e2d6-4de6-833d-0abc86a23486",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f20ec6ab-ea0f-4076-887f-2a73d7625e59",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "730a0973-c358-44c1-992c-044c503b16e8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0f6cd229-e2d6-4de6-833d-0abc86a23486",
        "contentUdi": null,
        "settingsKey": "511fdff0-0bc6-4b74-9bd4-373111a641ab",
        "settingsUdi": null
      },
      {
        "contentKey": "730a0973-c358-44c1-992c-044c503b16e8",
        "contentUdi": null,
        "settingsKey": "c6d58a26-d8ea-4e0f-aeda-befb672168c8",
        "settingsUdi": null
      },
      {
        "contentKey": "f20ec6ab-ea0f-4076-887f-2a73d7625e59",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>