<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8cb6fd1-8eae-4ee8-b7e1-584118c503c5" Alias="Services" Level="2">
  <Info>
    <Parent Key="36fa8bbc-f5b6-4f10-9791-3c18c249b711">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T09:58:33</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="411efab0-92a8-4b70-9d6e-2cd89e913be1">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "729ce318-f766-4c14-865a-dfadacd9dedb",
      "key": "7aff3c70-e4e7-4ab3-a0bf-156fdefb4e49",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        }
      ]
    },
    {
      "contentTypeKey": "cb8da319-c65d-4f92-9998-a25d8797aa4c",
      "key": "9ac00aa9-c2ec-4ea5-86b6-c4f3d3df2eee",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-main\u0022\u003ELet us know about\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-main\u0022\u003Eyour next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d0422530-2edd-4a65-ab71-f45ad1d24885",
              "mediaKey": "93c1009d-7738-4571-a541-bb7d23f5b6e2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9e5f3dd0-700f-4eb6-96eb-585fd7be2741",
      "key": "08ccf166-f219-4f61-980f-c3247c290ba3",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "927d13e8-b528-4d55-8ff1-d1fb1a4cf3e6",
      "key": "aeb6009b-f4db-41d6-9bc5-bec62aac3514",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7aff3c70-e4e7-4ab3-a0bf-156fdefb4e49",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9ac00aa9-c2ec-4ea5-86b6-c4f3d3df2eee",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7aff3c70-e4e7-4ab3-a0bf-156fdefb4e49",
        "contentUdi": null,
        "settingsKey": "08ccf166-f219-4f61-980f-c3247c290ba3",
        "settingsUdi": null
      },
      {
        "contentKey": "9ac00aa9-c2ec-4ea5-86b6-c4f3d3df2eee",
        "contentUdi": null,
        "settingsKey": "aeb6009b-f4db-41d6-9bc5-bec62aac3514",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>