<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c771d1a-03df-4e6e-a6f1-8beee32872de" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T15:08:58</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3fefaf2d-7e4d-481c-8650-cf6390598df3",
      "key": "f176fb3f-f73c-4925-8689-6ed2e43bcf27",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "3fefaf2d-7e4d-481c-8650-cf6390598df3",
      "key": "0819cb34-d23e-44f2-9772-3b66c22ec4ef",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.LinkedIn.com"
        }
      ]
    },
    {
      "contentTypeKey": "3fefaf2d-7e4d-481c-8650-cf6390598df3",
      "key": "f78ff182-9b32-4e7e-9d76-3b73646439e5",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f176fb3f-f73c-4925-8689-6ed2e43bcf27",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0819cb34-d23e-44f2-9772-3b66c22ec4ef",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f78ff182-9b32-4e7e-9d76-3b73646439e5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f176fb3f-f73c-4925-8689-6ed2e43bcf27",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f78ff182-9b32-4e7e-9d76-3b73646439e5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0819cb34-d23e-44f2-9772-3b66c22ec4ef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "cff94d97-4ad8-4c84-b34e-a5a6dd215cc5",
    "mediaKey": "376957e0-6d82-48ca-904c-eeab3c489cf8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <templateName>
      <Value><![CDATA[Themesflat]]></Value>
    </templateName>
  </Properties>
</Content>