@import "tailwindcss";
@import "./forms.css";
@import "./rte.css";

@theme {
    --color-main: #4F5955;
    --color-secondary: #D9C3A9;
    --color-neutral: #ffffff;
    --color-white-100: #f7f7f7;
    --color-dark: #0E0E0E;
    --color-white: #F2EDDC;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    --color-sub: #F2EDDC;
     
    --font-poppins: "poppins", sans-serif;

    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;

}

body {
    @apply font-poppins;
}


    

.current a {
    @apply text-secondary;
}

