@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.PartnersSection)Model.Content;

    var partnerList = content.PartnerList;
}

<section class="mt-[13rem] mb-[3rem]">
    <div class="max-w-7xl mx-auto flex gap-[4rem] items-center justify-center">

        @if (partnerList != null)
        {
            for (var i = 0; i < partnerList.Count; i++)
            {
                var partner = partnerList[i];

                <partial name="Partials/Blocklist/Components/PartnerCard" model="partner" />
            }
        }  
        
    </div>

</section>
