@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.StatCard)Model.Content;
}

<div class="flex flex-col items-center p-[2rem] max-w-[370px]">

    <h1 class="font-semibold text-secondary text-[100px] text-center">@content.StatTitle</h1>
    <div class="rte">@Html.Raw(content.StatBody)</div>

</div>