<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95b45ba5-0eb2-4c42-a5a2-b39b30881a9c" Alias="About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>