<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f9261c1-032f-40f9-ab31-1530679912e9" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9339cfe7-6ff4-4ce3-af3f-d0871e7e65fb"
    },
    {
      "contentElementTypeKey": "729ce318-f766-4c14-865a-dfadacd9dedb",
      "settingsElementTypeKey": "9e5f3dd0-700f-4eb6-96eb-585fd7be2741"
    },
    {
      "contentElementTypeKey": "2311e863-8841-4f70-867f-f0bd230f105a"
    },
    {
      "contentElementTypeKey": "ee41bb83-1a3c-420b-b134-7c3f8d12f8b5",
      "settingsElementTypeKey": "4623c79d-1480-46f4-8ff0-978baee50bfa"
    },
    {
      "contentElementTypeKey": "3e492a08-d704-4fd5-a773-84e7ecd707ce"
    },
    {
      "contentElementTypeKey": "25a1f01d-0e99-4747-921b-9a1e89277572"
    },
    {
      "contentElementTypeKey": "cb8da319-c65d-4f92-9998-a25d8797aa4c",
      "settingsElementTypeKey": "927d13e8-b528-4d55-8ff1-d1fb1a4cf3e6"
    },
    {
      "contentElementTypeKey": "c80be307-6752-4bd0-8a99-d82a6a567a69"
    },
    {
      "contentElementTypeKey": "83b240c5-806f-43ef-80f0-214b86e621ba"
    },
    {
      "contentElementTypeKey": "e2dc1b1c-51df-4d02-84ba-d5a65be48b41",
      "settingsElementTypeKey": "4623c79d-1480-46f4-8ff0-978baee50bfa"
    },
    {
      "contentElementTypeKey": "c2b536f2-99be-428a-acf6-4ce0ee1bea1b"
    },
    {
      "contentElementTypeKey": "a4273f94-c37a-46d1-903d-20ceaca09456"
    }
  ]
}]]></Config>
</DataType>