<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0d008cd-439c-4f91-baa2-063d74b3fcd4" Alias="Partner List" Level="1">
  <Info>
    <Name>Partner List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e1f31400-65b4-46c9-8af2-d15df1d0300e"
    }
  ]
}]]></Config>
</DataType>