<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a9c642d-8b4c-4ecf-98c4-13bac3dd42bd" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e0114086-8812-4e2d-bd04-835f156a64e4"
    },
    {
      "contentElementTypeKey": "07ab4262-aef9-4902-a3cf-8bc9553db0b2"
    }
  ]
}]]></Config>
</DataType>