<?xml version="1.0" encoding="utf-8"?>
<DataType Key="853584de-53a9-4b38-a8d1-03f5a5f37022" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3fefaf2d-7e4d-481c-8650-cf6390598df3",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>