<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52db9938-a872-45a7-9438-57a804775b72" Alias="Success Section - Success Stat - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Success Section - Success Stat - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "aae2955f-838b-4c95-9e0b-a881b9a6262f"
    }
  ]
}]]></Config>
</DataType>