<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf16dea3-d968-4f92-9e4f-7e25e05e2128" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "04a086b2-8673-40ec-b2a0-0ce13e9ff948",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>