<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e909380a-5fcb-42fb-948d-92467e2eeeaa" Alias="formSubmissions" Level="2">
  <Info>
    <Name>Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b36eb743-8fea-46f5-ae75-42f38e6e2fc0" SortOrder="0">callbackRequest</ContentType>
    <ContentType Key="7ca5eff5-5a91-4fee-b69c-0fc498a1f825" SortOrder="1">questionRequest</ContentType>
    <ContentType Key="579b3d22-2e98-4b71-935c-c6291a6efcca" SortOrder="2">supportRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>