<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d62b0dc6-6bf0-468d-b9de-98468ec8c050" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="733d83ae-0f21-4e78-96af-11e73287ad1d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="50edbfa5-0b29-4482-9cca-1b0b86e26a5a" SortOrder="0">contactPage</ContentType>
    <ContentType Key="294fc4c9-d681-4658-8f78-1d0ebdeadb34" SortOrder="1">servicePage</ContentType>
    <ContentType Key="8d944ac6-67d6-46d5-b628-86e4fd87d3ee" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a195aac2-3722-4537-9f24-c2191130f9fc</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>4f9261c1-032f-40f9-ab31-1530679912e9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d1d7cfee-9e9a-4534-95f6-45caaeacda9a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>