<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="294fc4c9-d681-4658-8f78-1d0ebdeadb34" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-book</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9f335b7f-1cd4-45ee-82fa-f61d756cb2ca">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="411efab0-92a8-4b70-9d6e-2cd89e913be1">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fe6971ec-6934-46db-9ef3-bf41bffb43f6" SortOrder="0">serviceDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>81bbb3df-3c36-44e8-b197-dc1582696994</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>4f9261c1-032f-40f9-ab31-1530679912e9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7aea0f8c-ebdb-4026-824c-b1fc69848cbc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>